name: Deploy Frontend to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy React Frontend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: npm ci

      - name: Create .env file for Vite
        run: |
          echo "VITE_API_BASE_URL=${{ secrets.VITE_API_BASE_URL }}" >> .env
          echo "VITE_RAZORPAY_KEY_ID=${{ secrets.VITE_RAZORPAY_KEY_ID }}" >> .env
          echo "VITE_FACEBOOK_APP_ID=${{ secrets.VITE_FACEBOOK_APP_ID }}" >> .env
          echo "VITE_FACEBOOK_CONFIG_ID=${{ secrets.VITE_FACEBOOK_CONFIG_ID }}" >> .env

      - name: Build React App
        run: npm run build

      - name: Clean old dist on EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: rm -rf /home/ec2-user/vadik_frontend/dist/*

      - name: Upload Build to EC2
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          source: "dist/*"
          target: "/home/ec2-user/vadik_frontend/dist"

      - name: Restart Nginx
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: sudo systemctl restart nginx
